<%= provide :title, t("help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get-help" %> <%= link_to t(".rail-help"), Settings.help_rail %>.<%= t ".to-get-help" %>
  <%= link_to Settings.railstutorial_book do %>
  <em><%= t ".ruby-on" %></em> <%= t ".book" %>.
  <% end %>
</p>
